
.vision-container {
    background: url("./assets/images/josh-rose-trYl7JYATH0-unsplash.jpeg");
    background-position: center bottom;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 7px 0px;
}

.innerbox {
    background: rgba(0, 0, 0, 0.8);
    color: #FAFAFA;
}