.container-responsibility{
    .image {
        background: url("./assets/images/church-of-the-king-j9jZSqfH5YI-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

